<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="VisualProgrammingEnvironment.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <userSettings>
    <VisualProgrammingEnvironment.Properties.Settings>
      <setting name="AutoSubmitBugs" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LogOutputToFile" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SelectedThemeIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ActiveAccounts" serializeAs="String">
        <value/>
      </setting>
      <setting name="AnacondaPath" serializeAs="String">
        <value>Try: "conda info" command</value>
      </setting>
    </VisualProgrammingEnvironment.Properties.Settings>
  </userSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://venus.sod.asu.edu/VIPLE/ActionRegistry/Service1.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1" contract="ActionRegistryService.IService1" name="BasicHttpBinding_IService1"/>
    </client>
  </system.serviceModel>
</configuration>
